/* hi */

:root {
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom,
      #93c47d, #fdf6e3);
  --dark-green: #4a633e;
  --light-gray: rbga(255, 255, 255, 0)
}

* {
  box-sizing: border-box;
}

main {
  background: #93c47d;
  background: var(--bggradient);
}

.section-1 {
  padding: 0 0 5rem 0;
}

.section-1 .container .row .col-md-12 .logo img {
  width: 30%;
  margin: 0 35%;
}

.section-1 h3 {
  text-align: center;
  margin: 0 0 2rem;
}

.section-1 .row .col-md-12 .video video {
  width: 100%;
  box-shadow: 0px 5px 42px rgba(0, 0, 0, 0.6);
  padding: 0;
}

h2 {
  font-size: 28pt;
  color: var(--dark-green);

}

li {
  margin: 1rem;
  color: var(--dark-green);
  font-size: 18pt;
}

.section-2 .bg-image {
  background-image: url(assets/image18.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  background: rgba(255, 255, 255, 0.87);
  /* background: rgb(253, 246, 227, 0.87); */
}

.section-3 .bg-image {
  background-image: url(assets/image22.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.wrapper {
  column-count: 2;
  column-gap: 50px;
  padding: 50px;
}

p {
  line-height: 1.6;
  font-family: Helvetica;
  text-align: justify;
  margin: 0;
  font-size: 14px;
}

.img-wrapped {
  float: left;
  width: 150px;
  shape-outside: url(assets/image7.jpg);
  shape-margin: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 550px) {
  .img-wrapped {
    float: left;
    width: 200px;
    shape-outside: url(assets/image7.jpg);
    shape-margin: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}